<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077412936723-2p2e867cfgktktvbi7ktpola9l7cf0g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077412936723-2p2e867cfgktktvbi7ktpola9l7cf0g2</string>
	<key>API_KEY</key>
	<string>AIzaSyAaRq_xPCfZaK0UL5TNv3kt4msYpWFsKXs</string>
	<key>GCM_SENDER_ID</key>
	<string>1077412936723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cse.duytan.edu.vn.childrenPickupMonitoring</string>
	<key>PROJECT_ID</key>
	<string>childrenpickupmonitoringmap</string>
	<key>STORAGE_BUCKET</key>
	<string>childrenpickupmonitoringmap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077412936723:ios:8f220932326bdbe1ab93e6</string>
</dict>
</plist>